<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle list</title>
    <link rel="stylesheet" href="../../styles/vehicle/vehicleList.css">
</head>
<body>
<div class="vehicle">
    <header class="vehicle-header">
        <div class="vehicle-header-brand">
            <img class="vehicle-header-logo" src="" alt="Vehicle List">
        </div>
        <div class="vehicle-header-actions">
            <div class="vehicle-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
            <div class="vehicle-header-section-b">
                <nav class="vehicle-navigation" aria-label="Vehicle navigation">
                    <div class="vehicle-navigation-group">
                        <button type="button" id="vehicle-navigation-btn">Vehicle</button>
                        <div class="vehicle-navigation-menu" id="vehicle-navigation-menu">
                            <button type="button" id="create-vehicle-btn">Create Vehicle</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="vehicle-body">
        <div class="vehicle-body-search">
            <input id="search" type="text" placeholder="Search by vehicle number" maxlength="50">
            <button id="search-btn">Search</button>
        </div>
        <div class="vehicle-body-list">
            <div id="vehicle-list-container">
                <!-- Vehicle items will be rendered here -->
            </div>
        </div>
        <div class="vehicle-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="vehicle-footer">
    </footer>
</div>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/vehicle/vehicleList.js"></script>
</body>
</html>