<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle list</title>
</head>
<body>
<div class="vehicle">
    <header class="vehicle-header">
        <div class="vehicle-header-brand-icon">
            <img class="vehicle-header-logo" src="" alt="Vehicle Logo">
        </div>
        <div class="vehicle-header-actions">
            <div class="vehicle-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="vehicle-header-section-b">
                <div class="vehicle-header-actions-a">
                    <button id="create-vehicle-btn">Create vehicle</button>
                </div>
            </div>
        </div>
    </header>
    <main class="vehicle-body">
        <div class="vehicle-body-search">
            <input id="search" type="text" placeholder="Search by vehicle number" maxlength="50">
            <button id="search-btn">Search</button>
        </div>
        <div class="vehicle-body-list">
            <div id="vehicle-list-container">
                <!-- Vehicle items will be rendered here -->
            </div>
        </div>
        <div class="vehicle-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="vehicle-footer">
    </footer>
</div>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/vehicle/vehicleList.js"></script>
</body>
</html>