<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle screen</title>
    <link rel="stylesheet" href="../../styles/vehicle/vehicle.css">
</head>
<body>
<div class="vehicle">
    <header class="vehicle-header">
        <div class="vehicle-header-brand">
            <img class="vehicle-header-logo" src="" alt="Vehicle">
        </div>
        <div class="vehicle-header-actions">
            <div class="vehicle-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
                <button type="button" id="back-to-operator-btn">Back to operator</button>
            </div>
            <div class="vehicle-header-section-b">
                <nav class="vehicle-navigation" aria-label="Vehicle navigation">
                    <div class="vehicle-navigation-group">
                        <button type="button" id="vehicle-navigation-btn">Vehicle</button>
                        <div class="vehicle-navigation-menu" id="vehicle-navigation-menu">
                            <button type="button" id="vehicle-list-btn">Manage Vehicles</button>
                            <button type="button" id="entry-vehicle-btn">Create Vehicle</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="vehicle-body">
        <div class="vehicle-body-vehicle-display">
            <form class="vehicle-body-vehicle-form">
                <label for="vehicle-id">Vehicle Id :</label>
                <input type="text" id="vehicle-id" readonly>

                <label for="vehicle-type">Vehicle type :</label>
                <input type="text" id="vehicle-type">

                <label for="vehicle-number">Vehicle number :</label>
                <input type="text" id="vehicle-number">

                <label for="operator-id">Operator Id :</label>
                <input type="text" id="operator-id" readonly>

                <label for="created-at">Created at :</label>
                <input type="text" id="created-at" readonly>

                <label for="updated-at">Updated at :</label>
                <input type="text" id="updated-at" readonly>

                <label for="updated-by">Updated by :</label>
                <input type="text" id="updated-by" readonly>
            </form>
        </div>
        <div id="vehicle-body-vehicle-actions" class="vehicle-body-vehicle-actions">
            <button id="update-btn">Update vehicle</button>
            <button id="delete-btn">Delete vehicle</button>
        </div>
        <div id="vehicle-body-common-actions" class="vehicle-body-common-actions">
            <button id="proceed-btn">Proceed</button>
        </div>
    </main>
    <footer class="vehicle-footer"></footer>
</div>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/vehicle/vehicle.js"></script>
</body>
</html>