.transport-type {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.transport-type-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    gap: 24px;
}

.transport-type-header-brand {
    display: flex;
    align-items: center;
}

.transport-type-header-logo {
    max-width: 180px;
    height: auto;
}

.transport-type-header-actions {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.transport-type-header-section-a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.transport-type-header-section-a button {
    width: auto;
}

/* Body */

.transport-type-body {
    flex: 1;
    padding: 10rem 5rem;
}

/* Transport type options */

.transport-type-body-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.transport-type-body-options button {
    width: 100%;
    font-size: 1rem;
    padding:4rem 8rem;
}