<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator list</title>
</head>
<body>
<div class="operator">
    <header class="operator-header">
        <div class="operator-header-brand-icon">
            <img class="operator-header-logo" src="" alt="Operator Logo">
        </div>
        <div class="operator-header-actions">
            <div class="operator-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="operator-header-section-b">
                <div class="operator-header-actions-a">
                    <button id="create-operator-btn">Create operator</button>
                </div>
            </div>
        </div>
    </header>
    <main class="operator-body">
        <div class="operator-body-search">
            <input id="search" type="text" placeholder="Search by operator name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="operator-body-list">
            <div id="operator-list-container">
                <!-- Operator items will be rendered here -->
            </div>
        </div>
        <div class="operator-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="operator-footer">
    </footer>
</div>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/operator/operatorList.js"></script>
</body>
</html>