<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport types</title>
</head>
<body>
<div class="transport-type">
    <header class="transport-type-header">
        <div class="transport-type-header-brand-icon">
            <img class="transport-type-header-logo" src="" alt="Transport Type Logo">
        </div>
        <div class="transport-type-header-actions">
            <div class="transport-type-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
        </div>
    </header>
    <main class="transport-type-body">
        <div class="transport-type-body-options">
            <button id="air-btn" data-transport-type="AIR">Air ways</button>
            <button id="sea-btn" data-transport-type="SEA">Sea ways</button>
            <button id="rail-btn" data-transport-type="RAIL">Rail ways</button>
            <button id="road-btn" data-transport-type="ROAD">Road ways</button>
        </div>
    </main>
    <footer class="transport-type-footer">
    </footer>
</div>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/operator/transportTypes.js"></script>
</body>
</html>