<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport types</title>
    <link rel="stylesheet" href="../../styles/operator/transportType.css">
</head>
<body>
<header class="dashboard-shell-wrapper-header">
    <div class="dashboard-shell-inner-header">
        <div class="dashboard-shell-group-header">
            <div class="dashboard-shell-brand">
                <img class="dashboard-shell-logo" src="https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?w=100" alt="Logo">
            </div>
        </div>
    </div>
</header>

<div class="transport-type-shell">
    <div class="transport-type-shell-wrapper-body">


    </div>
</div>
<script src="/js/viewStateConfig.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/operator/transportTypes.js"></script>
</body>
</html>