<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipment list</title>
</head>
<body>
<div class="shipment">
    <header class="shipment-header">
        <div class="shipment-header-brand-icon">
            <img class="shipment-header-logo" src="" alt="Shipment Logo">
        </div>
        <div class="shipment-header-actions">
            <div class="shipment-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="shipment-header-section-b">
                <div class="shipment-header-actions-a">
                    <button id="create-shipment-btn">Create shipment</button>
                </div>
            </div>
        </div>
    </header>
    <main class="shipment-body">
        <div class="shipment-body-search">
            <input id="search" type="text" placeholder="Search by shipping ID" maxlength="25">
            <button id="search-btn">Search</button>
        </div>
        <div class="shipment-body-list">
            <div id="shipment-list-container">
                <!-- Shipment items will be rendered here -->
            </div>
        </div>
        <div class="shipment-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="shipment-footer">
    </footer>
</div>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/shipment/shipmentList.js"></script>
</body>
</html>