<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee creation form</title>
</head>
<body>
<div class="employee">
    <header class="employee-header">
        <div class="employee-header-brand-icon">
            <img class="employee-header-logo" src="" alt="Employee Logo">
        </div>
        <div class="employee-header-actions">
            <div class="employee-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="employee-header-section-b">
            </div>
        </div>
    </header>
    <main class="employee-body">
        <div class="employee-body-form">
            <form>
                <label for="employee-name">Employee Name :</label>
                <input id="employee-name" type="text" maxlength="250" required>

                <label for="employee-phone-no">Employee Phone No :</label>
                <input id="employee-phone-no" type="text" maxlength="25" required>

                <label for="employee-department">Employee Department :</label>
                <input id="employee-department" type="text" maxlength="30" required>

                <label for="employee-status">Employee Status :</label>
                <select id="employee-status" required>
                    <option value="">Select one</option>
                    <option value="ACTIVE">Active</option>
                    <option value="IN_ACTIVE">In Active</option>
                </select>

                <div id="reporting-manager-id-display" style="display:none;">
                    <label for="reporting-manager-id">Reporting Manager ID :</label>
                    <input id="reporting-manager-id" type="number" readonly>
                </div>

                <button type="submit" id="create-btn">Create</button>
            </form>
        </div>
    </main>
    <footer class="employee-footer">
    </footer>
</div>

<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/employee/employeeAccountCreationForm.js"></script>
</body>
</html>