<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div class="employee-shell">
    <div class="employee-shell-wrapper-header">
        <div class="employee-shell-inner-header">
            <div class="employee-shell-group-header">
                <button class="previous-form-btn">Previous form</button>
            </div>
            <div class="employee-shell-group-header">
                <div class="employee-shell-section-header">
                    <input id="search" type="text" placeholder="Search by employee name" max="25">
                </div>
                <div class="employee-shell-section-header">
                    <button class="search-btn">Search</button>
                </div>
            </div>
        </div>
        <div class="employee-shell-inner-header">
            <button class="create-employee-btn">Create employee</button>
        </div>
    </div>
    <div class="employee-shell-wrapper-pager">
        <div class="employee-shell-inner-pager">
            <button class="previous-page-btn">Previous page</button>
            <button class="next-page-btn">Next page</button>
        </div>
    </div>
    <div class="employee-shell-wrapper-body">

    </div>
</div>
<script src="/js/viewStateConfig.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/employee/employeeList.js"></script>
</body>
</html>