<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
</head>
<body>
<div class="employee">
    <header class="employee-header">
        <div class="employee-header-brand-icon">
            <img class="employee-header-logo" src="" alt="Employee Logo">
        </div>
        <div class="employee-header-actions">
            <div class="employee-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="employee-header-section-b">
                <div class="employee-header-actions-a">
                    <button id="create-employee-btn">Create employee</button>
                </div>
            </div>
        </div>
    </header>
    <main class="employee-body">
        <div class="employee-body-search">
            <input id="search" type="text" placeholder="Search by employee name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="employee-body-list">
            <div id="employee-list-container">
                <!-- Employee items will be rendered here -->
            </div>
        </div>
        <div class="employee-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="employee-footer">
    </footer>
</div>

<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/employee/employeeList.js"></script>
</body>
</html>