<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<div class="sign-in">
    <header class="sign-in-header">
        <div class="sign-in-header-brand-icon">
            <img class="sign-in-header-logo" src="" alt="AxleOS">
        </div>
    </header>
    <main class="sign-in-body">
        <div class="sign-in-body-sign-in-display">
            <form class="sign-in-body-sign-in-form" action="http://localhost:8080/logistic/auth/signin" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="accountUsername" autocomplete="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="accountPassword" autocomplete="current-password" required>

                <button type="submit" id="submit-btn">Sign in</button>
            </form>
        </div>
    </main>
    <footer class="sign-in-footer"></footer>
</div>
</body>
</html>