<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AxleOS Portal</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>
<body>
<div class="dashboard">
    <header class="dashboard-header">
        <div class="dashboard-header-brand-icon">
            <img class="dashboard-header-logo" src="" alt="AxleOS Logo">
        </div>
        <div class="dashboard-header-actions">
            <div class="dashboard-header-section-a">
                <button id="sign-out-btn">Sign out</button>
                <button id="profile-view-btn">View Profile</button>
            </div>
        </div>
    </header>
    <main class="dashboard-body">
        <div class="dashboard-body-grid">
            <div class="dashboard-body-card">
                <h3 class="dashboard-body-card-title">Enter New Shipment</h3>
                <button id="dashboard-btn-shipment-create">Open Dispatcher</button>
            </div>
            <div class="dashboard-body-card">
                <h3 class="dashboard-body-card-title">Managing Operator</h3>
                <button id="dashboard-btn-operator-read">Manage Operators</button>
            </div>
            <div class="dashboard-body-card">
                <h3 class="dashboard-body-card-title">Managing Shipment Details</h3>
                <button id="dashboard-btn-shipment-list">View Ledger Logs</button>
            </div>
            <div class="dashboard-body-card">
                <h3 class="dashboard-body-card-title">Partner Account Creation</h3>
                <button id="dashboard-btn-federate-acc">Register Partner</button>
            </div>
            <div class="dashboard-body-card">
                <h3 class="dashboard-body-card-title">Employee Creation</h3>
                <button id="dashboard-btn-employee-create">Create Employee</button>
            </div>
            <div class="dashboard-body-card">
                <h3 class="dashboard-body-card-title">Employee Administration</h3>
                <button id="dashboard-btn-employee-adminstr">Administrate Employees</button>
            </div>
        </div>
    </main>
    <footer class="dashboard-footer">
    </footer>
</div>
<script src="/js/ajaxCalls/ajaxCalls.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>