<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="/styles/resetPassword.css">
</head>
<body>
<div class="password-reset">
    <header class="password-reset-header">
        <div class="password-reset-header-brand">
            <img class="password-reset-header-logo" src="" alt="AxleOS">
        </div>
    </header>

    <main class="password-reset-body">
        <section class="password-reset-form">
            <h2>Password Reset</h2>

            <form id="password-reset-form">
                <div>
                    <label for="signed-up-user-gmail-id">Gmail</label>
                    <input type="email" id="signed-up-user-gmail-id" required>
                </div>

                <button type="submit" id="password-reset-btn">Reset Password</button>
            </form>
        </section>
    </main>
</div>

<script src="/js/common/ajax-call.js"></script>
<script src="/js/password-reset.js"></script>
</body>
</html>