<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status screen</title>
</head>
<body>
<div class="status-shell">
    <div class="status-shell-wrapper-header">
        <div class="status-shell-inner-header">
            <div class="status-shell-group-header">
                <button class="dashboard-btn">Dashboard</button>
                <button class="previous-page-btn"></button>
            </div>
            <div class="status-shell-group-header">
                <button class="update-status-btn">Update status</button>
            </div>
        </div>

    </div>
    <div class="status-shell-wrapper-body">

    </div>
</div>
<script src="/js/viewStateConfig.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/status/status.js"></script>
</body>
</html>