<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver screen</title>
    <link rel="stylesheet" href="../../styles/driver/driver.css">
</head>
<body>
<div class="driver">
    <header class="driver-header">
        <div class="driver-header-brand">
            <img class="driver-header-logo" src="" alt="Driver">
        </div>
        <div class="driver-header-actions">
            <div class="driver-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
                <button type="button" id="back-to-operator-btn">Back to operator</button>
            </div>
            <div class="driver-header-section-b">
                <nav class="driver-navigation" aria-label="Driver navigation">
                    <div class="driver-navigation-group">
                        <button type="button" id="driver-navigation-btn">Driver</button>
                        <div class="driver-navigation-menu" id="driver-navigation-menu">
                            <button type="button" id="driver-list-btn">Manage Drivers</button>
                            <button type="button" id="create-driver-btn">Create Driver</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="driver-body">
        <div class="driver-body-driver-display">
            <form>
                <label for="driver-id">Driver ID :</label>
                <input id="driver-id" type="number" readonly>

                <label for="driver-name">Driver Name :</label>
                <input id="driver-name" type="text" maxlength="250" required>

                <label for="driver-phone-no">Driver Phone No :</label>
                <input id="driver-phone-no" type="text" maxlength="25" required>

                <label for="driver-license-no">Driver License No :</label>
                <input id="driver-license-no" type="text" maxlength="20" required>

                <label for="operator-id">Operator ID :</label>
                <input id="operator-id" type="number" readonly required>

                <label for="created-at">Driver created at :</label>
                <input id="created-at" type="datetime-local" readonly required>

                <label for="updated-at">Driver updated at :</label>
                <input id="updated-at" type="datetime-local" readonly required>

                <label for="updated-by">Updated by :</label>
                <input id="updated-by" type="number" readonly required>
            </form>
        </div>
        <div class="driver-body-driver-actions">
            <button id="update-btn">Update</button>
            <button id="delete-btn">Delete</button>
        </div>
        <div class="driver-body-common-actions">
            <button id="proceed-btn">Proceed</button>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-profile-section"><a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>

<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/driver/driver.js"></script>
</body>
</html>