<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver list</title>
</head>
<body>
<div class="driver">
    <header class="driver-header">
        <div class="driver-header-brand-icon">
            <img class="driver-header-logo" src="" alt="Driver Logo">
        </div>
        <div class="driver-header-actions">
            <div class="driver-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="driver-header-section-b">
                <div class="driver-header-actions-a">
                    <button id="create-driver-btn">Create driver</button>
                </div>
            </div>
        </div>
    </header>
    <main class="driver-body">
        <div class="driver-body-search">
            <input id="search" type="text" placeholder="Search by driver name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="driver-body-list">
            <div id="driver-list-container">
                <!-- Driver items will be rendered here -->
            </div>
        </div>
        <div class="driver-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="driver-footer">
    </footer>
</div>

<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/driver/driverList.js"></script>
</body>
</html>