<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver form</title>
</head>
<body>
<div class="driver-shell">
    <div class="driver-shell-wrapper-header">
        <div class="driver-shell-inner-header">
            <div class="driver-shell-group-header">
                <button class="dashboard-btn">Dashboard</button>
                <button class="previous-form-btn">Previous form</button>
            </div>
        </div>
    </div>
    <div class="driver-shell-wrapper-body">

    </div>
</div>
<script src="/js/viewStateConfig.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/driver/driverCreationForm.js"></script>
</body>
</html>