<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager screen</title>
</head>
<body>
<div class="manager-shell">
    <div class="manager-shell-wrapper-header">
        <div class="manager-shell-inner-header">
            <div class="manager-shell-group-header">
                <button class="dashboard-btn">Dashboard</button>
                <button class="previous-form-btn">Previous form</button>
            </div>
            <div class="manager-shell-group-header">
                <button class="create-manager-btn">Create manager</button>
                <button class="update-manager-btn">Update manager</button>
                <button class="delete-manager-btn">Delete manager</button>
            </div>
        </div>

    </div>
    <div class="manager-shell-wrapper-body">

    </div>
</div>
<script src="/js/viewStateConfig.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/manager/manager.js"></script>
</body>
</html>