<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager list</title>
</head>
<body>
<div class="manager">
    <header class="manager-header">
        <div class="manager-header-brand-icon">
            <img class="manager-header-logo" src="" alt="Manager Logo">
        </div>
        <div class="manager-header-actions">
            <div class="manager-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="manager-header-section-b">
                <div class="manager-header-actions-a">
                    <button id="create-manager-btn">Create manager</button>
                </div>
            </div>
        </div>
    </header>
    <main class="manager-body">
        <div class="manager-body-search">
            <input id="search" type="text" placeholder="Search by manager name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="manager-body-list">
            <div id="manager-list-container">
                <!-- Manager items will be rendered here -->
            </div>
        </div>
        <div class="manager-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="manager-footer">
    </footer>
</div>

<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/manager/managerList.js"></script>
</body>
</html>