<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager list</title>
    <link rel="stylesheet" href="../../styles/manager/managerList.css">
</head>
<body>
<div class="manager">
    <header class="manager-header">
        <div class="manager-header-brand">
            <img class="manager-header-logo" src="" alt="Manager List">
        </div>
        <div class="manager-header-actions">
            <div class="manager-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
            <div class="manager-header-section-b">
                <nav class="manager-navigation" aria-label="Manager navigation">
                    <div class="manager-navigation-group">
                        <button type="button" id="manager-navigation-btn">Manager</button>
                        <div class="manager-navigation-menu" id="manager-navigation-menu">
                            <button type="button" id="create-manager-btn">Create Manager</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="manager-body">
        <div class="manager-body-search">
            <input id="search" type="text" placeholder="Search by manager name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="manager-body-list">
            <div id="manager-list-container">
                <!-- Manager items will be rendered here -->
            </div>
        </div>
        <div class="manager-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="manager-footer">
    </footer>
</div>

<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/manager/managerList.js"></script>
</body>
</html>