<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager creation form</title>
</head>
<body>
<div class="manager">
    <header class="manager-header">
        <div class="manager-header-brand-icon">
            <img class="manager-header-logo" src="" alt="Manager Logo">
        </div>
        <div class="manager-header-actions">
            <div class="manager-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
            <div class="manager-header-section-b">
            </div>
        </div>
    </header>
    <main class="manager-body">
        <div class="manager-body-form">
            <form>
                <label for="manager-name">Manager Name :</label>
                <input id="manager-name" type="text" maxlength="250" required>

                <label for="manager-contact-no">Manager Contact No :</label>
                <input id="manager-contact-no" type="text" maxlength="25" required>

                <label for="manager-status">Manager Status :</label>
                <select id="manager-status" required>
                    <option value="" selected>Select one</option>
                    <option value="ACTIVE">Active</option>
                    <option value="IN_ACTIVE">In Active</option>
                </select>

                <div id="operator-id-display" style="display:none;">
                    <label for="operator-id">Operator ID :</label>
                    <input id="operator-id" type="number" readonly>
                </div>

                <button type="submit" id="create-btn">Create</button>
            </form>
        </div>
    </main>
    <footer class="manager-footer">
    </footer>
</div>

<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/manager/managerCreationForm.js"></script>
</body>
</html>