<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Planning</title>
</head>
<body>
<div class="manager-shell">
    <div class="manager-shell-wrapper-header">
        <div class="manager-shell-inner-header">
            <div class="manager-shell-group-header">
                <button class="previous-form-btn">Previous form</button>
            </div>
            <div class="manager-shell-group-header">
                <div class="manager-shell-section-header">
                    <input id="search" type="text" placeholder="Search by manager name" max="25">
                </div>
                <div class="manager-shell-section-header">
                    <button class="search-btn">Search</button>
                </div>
            </div>
        </div>
        <div class="manager-shell-inner-header">
            <button class="create-manager-btn">Create manager</button>
        </div>
    </div>
    <div class="manager-shell-wrapper-pager">
        <div class="manager-shell-inner-pager">
            <button class="previous-page-btn">Previous page</button>
            <button class="next-page-btn">Next page</button>
        </div>
    </div>
    <div class="manager-shell-wrapper-body">

    </div>
</div>
<script src="/js/viewStateConfig.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/manager/managerList.js"></script>
</body>
</html>